@page "/"


<input type="text" @bind-value="@message"/>
<input type="text" @bind-value="@text" />
<input type="button" value="Enviar formulario" @onclick="ChangeText"/>

<div>
    @message
</div>


@code{
    string message = "Un contenido";
    string text;

    private void ChangeText()
    {
        message = text;
    }
}
