<h3>FormBasic</h3>

<input type="text" @bind-value="@message" />
<input type="text" @bind-value="@text" />
<input type="button" value="Enviar formulario" @onclick="ChangeText" />

<div>
    @message
</div>


@code{
    [Parameter]
    public string Message { get; set; }

    string message = "Un contenido";
    string text;

    protected override async Task OnInitializedAsync()
    {
        message = this.Message;
    }

    private void ChangeText()
    {
        message = text;
    }
}
