@using Business
@using Entities
@inject B_Product bProduct


<div>
    <EditForm Model="oProduct">
        <div class="form-control">
            <label>Referencia:</label>
            <InputText @bind-Value="oProduct.ProductId" class="form-control" />
        </div>
        <div class="form-control">
            <label>Nombre del producto:</label>
            <InputText @bind-Value="oProduct.ProductName" class="form-control" />
        </div>
        <div class="form-control">
            <label>Descripcion del producto:</label>
            <InputTextArea @bind-Value="oProduct.ProductDescription" class="form-control" />
        </div>

        <input type="button" value="Agregar producto" @onclick="SaveProduct" />
    </EditForm>
</div>

@code {
    ProductEntity oProduct = new ProductEntity();

    private void SaveProduct()
    {
        bProduct.CreateProduct(oProduct);
    }

}
